[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=14.5.14"
frozendict = "~=2.3.4"
python-dateutil = "~=2.7.0"
typing-extensions = "~=4.3.0"
urllib3 = "~=1.26.7"
pydantic = ">=1.10.5,<2"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.11"
